/* Border box model  */
#root,
body {
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ubuntu);
  color: white;
  font-size: var(--font-size);
  height: 100vh;
}

@font-face {
  font-family: 'Badaboom';
  src: local('Badaboom'),
    url('../assets//fonts/BADABB__.TTF') format('truetype');
}

h1 {
  margin: 0px;
  font-family: 'Badaboom';
  letter-spacing: 0.2rem;
  font-size: xxx-large;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}

h2 {
  font-family: 'Badaboom';
  letter-spacing: 0.15rem;
  align-content: center;
  text-align: center;
  background-color: black;
  padding: 0.1em;
  letter-spacing: 0.25rem;
  font-size: xx-large;
  border-radius: 4px;

  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}

img {
  padding: 0;
  margin: 0;
}

.background-image {
  background-image: url('../assets/umvcBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#character-details {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 80vw;
  padding: 1em;
  overflow-y: scroll;
}
/*
#character-details::-webkit-scrollbar {
  display: none;
} */

#character-selector {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  color: white;
  width: 15em;
  overflow-y: scroll;
  max-height: 80vh;
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
  scroll-snap-type: y proximity;
  padding-bottom: 2em;
  padding-right: 0.8em;
}

/* #character-selector::-webkit-scrollbar {
  display: none;
} */

#outlet {
  width: 100px;
  height: 100px;
  /* border: 1px solid yellow; */
}

#logo {
  width: 15em;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
  -2px 2px 0 #000, 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}

.character-tile {
  background-color: rgb(43, 43, 43);
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  padding: 0.3em;
  margin: 0.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Badaboom';
  font-size: x-large;
  text-shadow: 1px 1px 1px 1px black;
  scroll-snap-align: start;
  letter-spacing: .1rem;
}

a {
  text-decoration: none;
}

.character-info {
  display: flex;
  flex-direction: column;
}

.controller-input-button img {
  padding: 1px;
  width: auto;
  height: 1.8rem;
  border-radius: 2px;
}

#assists-banner {
  background-color: rgba(160, 0, 166);
}

#command-normals-banner {
  background-color: rgb(255, 0, 106);
}

#special-moves-banner {
  background-color: rgb(58, 237, 58);
}

#hyper-moves-banner {
  background-color: rgb(58, 207, 237);
}

#marvel {
  border: 2px solid rgb(110, 0, 0);
  background-color: rgb(188, 0, 0);
  box-shadow: inset 0px 0px 3px 3px rgb(110, 0, 0);
  border-radius: 6px;
  letter-spacing: .2rem;
  font-size: xx-large;
}

#capcom {
  border: 2px solid rgb(6, 0, 167);
  background-color: rgb(0, 0, 219);
  box-shadow: inset 0px 0px 3px 3px rgb(6, 0, 167);
  border-radius: 6px;
  letter-spacing: .25rem;
  font-size: xx-large;
}

.move-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
}

.move-name {
  font-family: 'Badaboom';
  font-size: x-large;
  letter-spacing: 0.05rem;
}

.controller-button-inputs {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

#character-moves > * {
  margin-bottom: 1em;
}

.character-links {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  margin-bottom: 2em;
  border-radius: 6px;
}

#character-name {
  align-items: center;
  height: 5rem;
}

.character-links a {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Badaboom';
  color: white;
  font-size: xx-large;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}
