/* Border box model  */
#root,
body {
  padding: 0;
  margin: 0;
  display: flex;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ubuntu);
  color: white;
  font-size: var(--font-size);
  height: 100vh;
}

@font-face {
  font-family: 'Badaboom';
  src: local('Badaboom'),
    url('../assets//fonts/BADABB__.TTF') format('truetype');
}

h1,
h3 {
  margin: 0px;
  font-family: 'Badaboom';
  letter-spacing: .15rem;
}

h2 {
  font-family: 'Badaboom';
  letter-spacing: .15rem;
  margin: 0.5em;
  align-content: center;
  text-align: center;
  background-color: black;
}

#marvel {
  border: 2px solid Red;
  border-radius: 4px;
}

#capcom {
  border: 2px solid blue;
  border-radius: 4px;
}

img {
  padding: 0;
  margin: 0;
}

.background-image {
  background-image: url('../assets/umvcBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#character-details {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  opacity: 0.9;
  width: 80vw;
  height: 80vh;
}

#character-selector {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  color: white;
  opacity: 0.9;
  width: 15em;
  overflow-y: scroll;
  max-height: 80vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#character-selector::-webkit-scrollbar {
  display: none;
}

#outlet {
  width: 100px;
  height: 100px;
  border: 1px solid yellow;
}

#logo {
  width: 15em;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.character-tile {
  background-color: rgb(43, 43, 43);
  color: white;
  border: 3px solid white;
  border-radius: 6px;
  /* padding: 0.3em; */
  margin: 0.5em;
  /* height: 2.5em; */
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Badaboom';
  font-size: x-large;
}

a {
  text-decoration: none;
}

/* TODO: (Styling) make image align to right side and look good*/
#character-details img {
  border: 1px solid white;
  /* width: 200px; */
}

.character-info {
  display: flex;
  flex-direction: column;
}

.health {
  border: 2px solid red;
}

.assists {
  border: 2px solid yellow;
}

.command-normals {
  border: 2px solid blueviolet;
}

.special-moves {
  border: 2px solid green;
}

.hyper-combos {
  border: 2px solid lawngreen;
}

/* TODO: (Styling) style buttons for when images exist */
.controller-button-inputs {
  display: flex;
  flex-direction: row;
}

.controller-input-button {
  padding: 1px;
  /* margin: 1px; */
  border: 1px solid white;
  border-radius: 2px;
}
